body {
  background-image: url(images/desert.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: lightslategray;
}

#linkBtn {
  width: 15vw;
}