@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

body {
  background-image: url(images/desert.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: lightslategray;
}

.container {
  width: 90%;
  margin-top: 5%;
}

#linkBtn {
  width: 20vw;
}

.jumbotron {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkslategray;
}

.mainTitle {
  margin: 5%;
}

.nameText1, .nameText2 {
  color: white;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black,
    3px 3px 0 black,
    4px 4px 0 white,
    5px 5px 0 white,
    6px 6px 0 white,
    7px 7px 0 white;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin: 0;
  text-align: center;
}

.nameText1 {
  font-size: 70pt;
}

.nameText2 {
  font-size: 30pt;
}

#fname, #lname, #subject, #message {
  display: block;
  width: 100%;
  height: 100%;
  padding: .5rem .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #343a40;
  border-radius: .25rem;
}
